main{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #048FD4;
}

.sec1{
    background-color: #048FD4;
    width: 35vw;
    height: 100vh;
    padding: 15px;
}
.sec2{
    width: 45vw;
    margin: 0 auto; 
    border: 1px solid;
    background-color: rgb(255, 255, 255);
    border-color: rgb(179, 179, 179);
}

figure img{
    height: 40vh;
    width: 20vw;
    align-items: center;
    display:block;
}
img{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}
figure .im2{
    height: 20vh;
    width: 5vw;
    align-items: center;
    display:block;
}
.but1{
    width: 200px;
    height: 40px;
    background-color: #22BAA1;
    border: initial;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
}
.but2{
    width: 200px;
    height: 40px;
    background-color: white ;
    border: 1px solid;
    border-color: #22BAA1;
    color: #22BAA1;
    font-weight: bolder;
    text-align: center;
}
section button{
    align-items: center;
    margin: auto;
    display: block;
}
header h1{
    font-size: 45px;
    text-align: center;
    color: white;
}
.hea2 img{
    height: 45vh;
    width: 30vw;
    align-items: center;
    display:block;
}
header .botao2{
    width: 200px;
    height: 40px;
    background-color: #0072F5;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex: auto;
    border: inherit;
}
.sec2 .botao2{
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
}